.PromoCodePage--container {
  display: flex;

  .PromoCodePage--card-ship-items {
    flex: 1;
  }

  .PromoCodePage--order-summary {
    flex: 1;
    max-width: 350px;
    border: 1px solid red;
  }
}