@import './src/app/globals';

.root-layout {
  display: flex;
  justify-content: center;
  background-size: cover;
  overflow: auto;
  height: 100vh;
}

body {
  margin: unset;
  background-color: $color-grey;
}
