// not exhaustive sample of vars
$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-m: 20px;
$spacing-l: 40px;

$font-s: 12px;
$font-m: 16px;
$font-l: 22px;

$color-black: rgb(33, 33, 33);
$color-grey: #e1e1e1;
$color-white: #fff;

div {
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 400;
  font-family: Arial;
  color: $color-black;
}