@import './src/app/globals';

.CardOrderSummmaryPage--container {
  display: flex;
  flex-direction: column;
  padding: $spacing-m;
  height: 100%;

  .ship-items-container {
    .ship-items {
      .title {
        font-size: $font-l;
      }
      .ship-item {
        display: flex;
        justify-content: space-between;
        font-size: $font-m;
        color: $color-black;

        .quantity-and-label {
          display: flex;
          gap: $spacing-m;
          .quantity {

          }
          .label {

          }
        }
      }
    }
  }

  .promo-code-input-container {
    margin: 15px 0;

    .validation-result {
      font-size: $font-l;
    }
  }

  .sum-raw {
    display: flex;
    justify-content: space-between;
    font-size: $font-m;
  }

  .sum-total {
    display: flex;
    justify-content: space-between;
    font-size: $font-l;
    .price {
      font-weight: bold;
    }
  }

}