.CardOrderSummmaryPage--container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  // background-color: #e9e9e9; // #fafafa; // #0a1430;
  height: 100%;

  .ship-items-container {
    .ship-items {
      .title {
        font-size: 22px;
      }
      .ship-item {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        color: rgb(33, 33, 33);

        .quantity-and-label {
          display: flex;
          gap: 20px;
          .quantity {

          }
          .label {

          }
        }
      }
    }
  }

  .promo-code-input-container {
    margin: 15px 0;

    .validation-result {
      // position: absolute;
      font-size: 22px;
    }
  }

  .sum-total {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    .price {
      font-weight: bold;
    }
  }

}