// TODO remove
@import './src/app/globals';

.PromoCodePage--container {
  display: flex;
  flex-wrap: wrap;

  gap: $spacing-m;
  padding: $spacing-l;
  max-width: 1200px;

  @media (min-width:200px) {
    padding: $spacing-s;
    gap: $spacing-m $spacing-l;
    margin: $spacing-l 0;
  }

  .PromoCodePage--card-ship-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $spacing-m 0;


    @media (min-width:600px) {
      width: 600px;
    }
  }

  .PromoCodePage--order-summary {

    @media (min-width:200px) {
      min-width: 350px;
    }

    @media (max-width:1200px) {
      flex: 1;
    }

  }
}
